------------------------------------------------------------------
#foreach( $match in $suggestedMatches)
-----$match.getWinnerPlayer().getName()--- more likely might win against----$match.getLoserPlayer().getName()--
#end
------------------------------------------------------------------
